<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Information Management System</title>

    <link rel="stylesheet" href="../static/css/phone_view.css">
    <script src="../static/js/jquery.min.js"></script>

</head>
<body>
<div>
    <header>
        <hr>
        <h1>手机信息管理系统</h1>
                <div class="avatar" id="avatar">
  <img src="../static/image/avatar.png" alt="Avatar" onclick="showLogoutPopup()">
</div>
        <hr/>

    </header>
    <main>
        <div>
            <div id="divv">
                <button class="add" id="add">新增</button>
            </div>
            <table>
                <tbody>
                <tr id="thead">
                    <td>id</td>
                    <td>品牌</td>
                    <td>型号</td>
                    <td>处理器</td>
                    <td>存储</td>
                    <td>操作</td>
                </tr>
                <script>
                    let phone_json = [{{ phones_json | safe }}];
                </script>
               <script src="../static/js/table.js"></script>
                </tbody>
            </table>
        </div>
    </main>
</div>
<div id="sbg"></div><!--增删改查时的阴影背景-->
<div class="achaesi" id="asi">
<!--    <form action="" method="post">-->
    <h2>新增学生信息</h2>
    <div class="mod">A
        <div><label for="phonebrand">品牌</label> <input id="phonebrand" type="text" required="required" minlength="1" oninvalid="setCustomValidity('请输入11位的数字组合')"></div>
        <div><label for="phonetype">型号</label> <input id="phonetype" type="text" required="required" minlength="1" oninvalid="setCustomValidity('请输入正确的姓名')"></div>
        <div><label for="cpuinfo">处理器</label> <input id="cpuinfo" type="text" required="required" minlength="1" oninvalid="setCustomValidity('请输入正确的学院名')"></div>
        <div><label for="ramandrominfo">存储</label> <input id="ramandrominfo" type="text" required="required" minlength="3" oninvalid="setCustomValidity('请输入正确的专业名')"></div>
    </div>
    <hr/>
    <div class="scbt">
        <button type="submit" id="submit">提交</button>
        <button class="cancel">取消</button>
    </div>
<!--    </form>-->
</div>
<div class="achaesi" id="chasi">
<!--    <form action="" method="post">-->
    <h2>修改学生信息</h2>
    <div class="modify">
        <div><label for="phonebrand">品牌</label> <input id="phonebrand" type="text" required="required" minlength="1" oninvalid="setCustomValidity('请输入正确的姓名')"></div>
        <div><label for="phonetype">型号</label> <input id="phonetype" type="text" required="required" minlength="1" oninvalid="setCustomValidity('请输入正确的姓名')"></div>
        <div><label for="cpuinfo">处理器</label> <input id="cpuinfo" type="text" required="required" minlength="1" oninvalid="setCustomValidity('请输入正确的学院名')"></div>
        <div><label for="ramandrominfo">存储</label> <input id="ramandrominfo" type="text" required="required" minlength="1" oninvalid="setCustomValidity('请输入正确的专业名')"></div>
    </div>
    <hr/>
    <div class="scbt">
        <button type="submit" id="save">保存</button>
        <button class="cancel">取消</button>
    </div>

</div>
</body>
</html>