<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手机管理系统</title>

    <link rel="stylesheet" href="../static/css/phone_view.css">
    <link href="../static/css/layui2.8.7.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/layer/layer.js"></script>


</head>
<body>
<div>
    <header>
        <hr>
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a href="#" onclick="event.preventDefault();">手机信息管理系统<span class="layui-badge-dot"></span></a>
            </li>
            <div class="right-align">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <img src="../static/image/avatar.png" class="layui-nav-img">
                    </a>
                    <dl class="layui-nav-child">
                        <dd style="text-align: center; font-size: 10px !important;"><a href="/logout">退出登录</a></dd>
                    </dl>
                </li>
            </div>
        </ul>
        <hr/>
    </header>
</div>
<script src="//unpkg.com/layui@2.8.7/dist/layui.js"></script>

               </ul>
        <hr/>

    </header>
    <main>
        <div>
            <div id="adbt">
                <script src="../static/js/addbotton.js"></script>
            </div>
            <table>
                <tbody>
                <tr id="thead">
                    <td>id</td>
                    <td>品牌</td>
                    <td>型号</td>
                    <td>处理器</td>
                    <td>存储</td>
                    <td>操作</td>
                </tr>
                <script>
                    let phone_json = [{{ phones_json | safe }}];
                </script>
               <script src="../static/js/table.js"></script>
                </tbody>
            </table>
        </div>
    </main>
    <button id="back-to-top">回到顶部</button>

  <script>
    $(document).ready(function() {
      $(window).scroll(function() {
        if ($(this).scrollTop() > 100) {
          $('#back-to-top').fadeIn();
        } else {
          $('#back-to-top').fadeOut();
        }
      });

      $('#back-to-top').click(function() {
        $('html, body').animate({scrollTop : 0}, 800);
        return false;
      });
    });
  </script>

</body>
</html>