<table id="myTable">
  <tr>
    <th>名称</th>
    <th>型号</th>
    <th>网站</th>
    <th>存储</th>
  </tr>
</table>

<script>
  let data = [phones_json];

  let table = document.getElementById("myTable");

  for (let i = 0; i < data.length; i++) {
    let row = document.createElement("tr");
    let cell1 = document.createElement("td");
    let cell2 = document.createElement("td");
    let cell3 = document.createElement("td");
    let cell4 = document.createElement("td");

    cell1.innerHTML = data[i].name;
    cell2.innerHTML = data[i].alexa;
    cell3.innerHTML = data[i].site;
    cell4.innerHTML = data[i].a;

    row.appendChild(cell1);
    row.appendChild(cell2);
    row.appendChild(cell3);
    row.appendChild(cell4);

    table.appendChild(row);
  }
</script>
